* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #EDEADE;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(rgba(277, 11, 92, 0.73), rgba(0, 0, 0, 0.8)),
    url("jar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 2px 2px black;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  color: pink;
  padding: 16px;
  text-align: center;
}

h1 span {
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  border-radius: .5rem;
  background: rgba(277,11,92,0.73);
  color: pink;
  opacity: .6;
}
h2 span{
  color: rgba(277,11,92,0.93);
  opacity: .7;
}

h3 {
  font-size: 1rem;
  color: rgba(277, 11, 92, 0.93);
  font-weight: 600;
  text-align: center;
  opacity: .7;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  color: pink;
  font-weight: 500;
  text-align: center;
  opacity: .7;
}

img{
  opacity: .5;
}

audio {
  filter: sepia(50%) saturate(70%) grayscale(5) contrast(99%) invert(12%);
  opacity: .6;
}

@media only screen and (max-width: 760px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    text-align: center;
    padding: 8px;
    background: linear-gradient(rgba(277,11,92,.93),rgba(211,211,211,.83));
    opacity: .5;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    color: pink;
    opacity. 4;
    background: transparent;
    word spacing: 2px;
    
  }
  h2 {
    font-size:  2rem;
    text-align: center;
    font-weight: 900;
    color: pink;
    word spacing: 2px;
    background-color: none;
  }
  h3 {
    font-size: 1rem;
    text-align: center;
    word-spacing: 2px;
    border-radius: .5rem;
    padding: 8px;
    opacity.5;
    color: pink;
  }
  h4{
    font-size: 1rem;
    text-align: center;
    color: pink;
  }
  img{
    width: 45px;
    height: 45px;
    opacity: .7;
  }
  audio {
    width: 250px;
  }
}
